#
#
# .gitignore
#
#
# Created by Mathias de Cacqueray Valmenier on 25/11/2014.
#
# Copyright (c) 2014 Mathias de Cacqueray Valmenier. All rights reserved.

#Ignoring every files
*

#Except
#Matlab
!*.m

#C / C++
!*.c
!*.cpp
!*.h

# Bash
!*.sh

# LaTeX
!*.tex

#Plain text
!*.md
!*.txt

#Git files
!.gitignore

# Various
!*.plot
